<ngptt-section-header [title]="'Dettaglio Progetto'" [buttonLink]="'/projects'" [buttonLabel]="'Torna a Progetti'">
</ngptt-section-header>

<div *ngIf="!editMode">
  <div class="jumbotron">
    <h1 class="display-4">{{project?.name}}</h1>
    <p class="lead">{{project?.description}}</p>
    <hr class="my-4">
    <p>
      <span>Codice: {{project?.code}} - Data Inizio: {{project?.start | date:'dd/MM/yyyy'}}</span>
      <span *ngIf="project?.end">- Data Fine: {{project?.end | date:'dd/MM/yyyy'}}</span>
    </p>
    <button class="btn btn-warning btn-sm" (click)="toggleEditMode()">Modifica</button>
  </div>
  <table class="table table-sm" *ngIf="project.tasks.length; else notasks">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Data Inizio</th>
        <th scope="col">Durata (minuti)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of project.tasks; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ task.name }}</td>
        <td>{{ task.start | date:"dd/MM/yyyy"}}</td>
        <td>{{ task.duration }}</td>
        <td><span class="badge"
            [ngClass]="{'badge-success': task.isBillable, 'badge-danger': !task.isBillable}">F</span></td>
      </tr>
    </tbody>
  </table>
  <ng-template #notasks>
    <div class="alert alert-warning">Nessun Task Presente</div>
  </ng-template>
</div>

<div class="row" *ngIf="editMode">
  <div class="col">
    <form [formGroup]="editProjectForm" (ngSubmit)="submitProjectForm()">
      <div class="form-row">
        <div class="col form-group">
          <button type="submit" class="btn btn-primary btn-sm"
            [disabled]="!editProjectForm.valid && editProjectForm.touched">Salva le Modifiche</button>
          <a class="btn btn-light btn-sm" (click)="toggleEditMode()">Annulla</a>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control" placeholder="Code" formControlName="code" disabled>
          <p class="text-danger" *ngIf="editProjectForm.get('code').invalid && editProjectForm.get('code').touched">
            <small>Il campo è richiesto</small></p>
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" placeholder="Nome" formControlName="name">
          <p class="text-danger" *ngIf="editProjectForm.get('name').invalid && editProjectForm.get('name').touched">
            <small>Il campo è richiesto</small></p>
        </div>
        <div class="col form-group">
          <select class="form-control" formControlName="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <p class="text-danger"
            *ngIf="editProjectForm.get('priority').invalid && editProjectForm.get('priority').touched"><small>Il campo è
              richiesto</small></p>
        </div>
      </div>
      <div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Descrizione" formControlName="description">
                </textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="date" class="form-control" placeholder="Data Inizio" formControlName="start">
            <p class="text-danger" *ngIf="editProjectForm.get('start').invalid && editProjectForm.get('start').touched">
              <small>Il campo è richiesto</small></p>
          </div>
          <div class="form-group col-md-6">
            <input type="date" class="form-control" placeholder="Data Fine" formControlName="end">
          </div>
        </div>
      </div>
      <hr />
      <div formArrayName="tasks">
        <div class="row">
          <div class="col">
            <h4>Tasks</h4>
          </div>
          <div class="col text-right">
            <button class="btn btn-light btn-sm" (click)="onAddTask()" [disabled]="!editProjectForm.valid">Aggiungi
              Task</button>
          </div>
        </div>
        <hr />
        <div class="form-row align-items-center"
          *ngFor="let taskControl of editProjectForm.get('tasks').controls; let i = index" [formGroupName]="i">
          <div class="col">
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col">
            <input type="date" class="form-control" formControlName="start">
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="duration">
          </div>
          <div class="col-auto">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="isBillable">
              <label class="form-check-label" for="exampleCheck1">Fatturabile</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-check">
              <span class="badge badge-danger" (click)="onDeleteTask(i)">x</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>