<ngptt-section-header [title]="'Dettaglio Progetto'" [buttonLink]="'/projects'" [buttonLabel]="'Torna a Progetti'">
</ngptt-section-header>

<div class="jumbotron">
  <h1 class="display-4">{{project?.name}}</h1>
  <p class="lead">{{project?.description}}</p>
  <hr class="my-4">
  <p><span>Codice: {{project?.code}} - Data Inizio: {{project?.start | date:'dd/MM/yyyy'}}</span><span
      *ngIf="project?.end">- Data Fine: {{project?.end | date:'dd/MM/yyyy'}}</span></p>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="editProjectForm" (ngSubmit)="submitProjectForm()">
      <div class="form-row">
        <div class="col form-group">
          <button type="submit" class="btn btn-primary">Salva le Modifiche</button>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <input type="text" class="form-control" placeholder="Code" formControlName="code" disabled>
          <p class="text-danger" *ngIf="editProjectForm.get('code').invalid && editProjectForm.get('code').touched">
            <small>Il campo è richiesto</small></p>
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" placeholder="Nome" formControlName="name">
          <p class="text-danger" *ngIf="editProjectForm.get('name').invalid && editProjectForm.get('name').touched">
            <small>Il campo è richiesto</small></p>
        </div>
        <div class="col form-group">
          <select class="form-control" formControlName="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <p class="text-danger"
            *ngIf="editProjectForm.get('priority').invalid && editProjectForm.get('priority').touched"><small>Il campo è
              richiesto</small></p>
        </div>
      </div>
      <div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Descrizione" formControlName="description">
                </textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="date" class="form-control" placeholder="Data Inizio" formControlName="start">
            <p class="text-danger" *ngIf="editProjectForm.get('start').invalid && editProjectForm.get('start').touched">
              <small>Il campo è richiesto</small></p>
          </div>
          <div class="form-group col-md-6">
            <input type="date" class="form-control" placeholder="Data Fine" formControlName="end">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>